<div class="container">
<div class="main">
    <div class="mensaje_container">
    <div class="mensaje">SOLICITUD DE SERVICIO EXITOSO</div>
    <div class="submensaje">
        EN 20 MINUTOS NUESTRO EQUIPO PASARÁ <br />
        A LA DIRECCIÓN REGISTRADA
    </div>
    </div>

    <div class="footer">
    <a [routerLink]="['/services-memory']"><button class="btn_salir">Salir</button></a>
    <a [routerLink]="['/certificate']"><button class="btn_salir">Certificado de Defunción</button></a>
    </div>
</div>
</div> 
