
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #cae1ff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #c7d2e0;
}

.main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}

.main::before {
    content: "Miembros";
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #1f2a77;
    padding: 20px 0;
    border-bottom: 1px solid #e2e8f0;
}

.menu-superior {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    font-size: 14px;
    color: #4a5568;
    border-bottom: 1px solid #e2e8f0;
}

.foto {
    text-align: center;
    padding: 25px;
    background-color: #f2f2f2aa;
}

.foto h2 {
    color: #2d3748;
    margin-bottom: 15px;
    font-size: 20px;
}

.persona {
    width: 100px;
    height: 100px;
    background-color: #e2e8f0;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.premium {
    background-color: #c7d2e0;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}

.mensaje_container {
    padding: 30px;
    text-align: center;
    border-top: 1px solid #c7d2e0;
    border-bottom: 1px solid #c7d2e0;
    background-color: #afc6e3;
}

.mensaje {
    font-size: 20px;
    font-weight: bold;
    color: #2d3748;
    margin-bottom: 15px;
}

.submensaje {
    font-size: 16px;
    color: #4a5568;
    line-height: 1.5;
}


.footer {
    padding: 25px;
    text-align: center;
}

.btn_salir {
    background-color: #c7d2e0;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_salir:hover {
    background-color: #c7d2e0;
}