<div class="container">
<div class="main">
    <div class="foto">
        <h2>PERFIL</h2>
        <div class="persona"></div>
        <div class="premium">PREMIUM</div>
    </div>

    <div class="mensaje_container">
    <div class="mensaje">SOLICITUD DE SERVICIO EXITOSO</div>
    <div class="submensaje">
        EN 20 MINUTOS NUESTRO EQUIPO PASARÁ <br />
        A LA DIRECCIÓN REGISTRADA
    </div>
    </div>

    <div class="footer">
    <a [routerLink]="['/services-memory']"><button class="btn_salir">Salir</button></a>
    </div>
</div>
</div> 
