* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 100px;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1efec;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--letter);
}

.nav-links li a.active {
    color: var(--pointer);
    font-weight: bold;
    text-decoration: underline;
}

.nav-links li a i {
    font-size: 20px;
    color: #3a0073;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .container {
        padding: 10px;
    }
}
