<div class="container">
    <form class="perfil">
        <div class="foto">
            <h2>PERFIL</h2>
            <div class="persona"></div>
        </div>

        <div class="formulario">
            <div class="box">
                <label for="nombre">Nombre</label>
                <input type="text">
            </div>
            <div class="box">
                <label for="apellidos">Apellidos</label>
                <input type="text">
            </div>
            <div class="box">
                <label for="email">Email</label>
                <input type="email">
            </div>
            <div class="box">
                <label for="contrasena">Contraseña</label>
                <input type="password">
            </div>
            <div class="box">
                <label for="info1">Info</label>
                <input type="text">
            </div>
            <div class="box">
                <label for="direccion">Dirección</label>
                <input type="text">
            </div>
            <div class="box">
                <label for="celular">Celular</label>
                <input type="tel">
            </div>
            <div class="box">
                <label for="info2">Info</label>
                <input type="text">
            </div>

        </div>

        <div class="btn_formulario">
            <button type="submit">Guardar</button>
            <button type="reset">Cancelar</button>
            <a [routerLink]="['/profile-edit']"><button type="button" class="btn_editar">EDITAR</button></a>

        </div>
    </form>

    <div class="opciones">
        <a [routerLink]="['/deceased']"><button type="button">Miembros</button></a>
        <a [routerLink]="['/profile']"><button type="button">Titular</button></a>
        <a [routerLink]="['/plans']"><button type="button">Plan</button></a>
    </div>
</div>