<body><div class="container">
    <div class="form-wrapper">
        <h2>AGREGA Beneficiario</h2>
        <form [formGroup]="profileForm" (ngSubmit)="onSave()" class="perfil">
            <div class="formulario">
                <div class="box">
                    <label for="nombre">Nombre</label>
                    <input type="text" formControlName="name">
                </div>
                <div class="box">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" formControlName="last_name">
                </div>
                <div class="box">
                    <label for="tipo-doc">Tipo de Documento</label>
                    <select formControlName="type_id">
                    <option value="">Seleccionar</option>
                    <option value="cc">Cédula de Ciudadanía</option>
                    <option value="ti">Tarjeta de identidad</option>
                    <option value="ce">Cédula de Extranjería</option>
                    <option value="pasaporte">Pasaporte</option>
                    <option value="registroCivil">Registro civil</option>
                    <option value="permisoEspecialPermanencia">Permiso especial de permanencia</option>
                    </select>
                </div>
                <div class="box">
                    <label for="identificación">Identificación</label>
                    <input type="text" formControlName="id">
                </div>
                <div class="box">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email">
                </div>
                <div class="box">
                    <label for="password">Contraseña</label>
                    <input type="password" formControlName="password">
                </div>
                <div class="box">
                    <label for="celular">Celular</label>
                    <input type="text" formControlName="phone">
                </div>
                <div class="box">
                    <label for="direccion">Dirección</label>
                    <input type="text" formControlName="address">
                </div>
                <div class="box">
                    <label for="ciudad">Ciudad</label>
                    <input type="text" formControlName="city">
                </div>
            </div>

            <div class="btn_formulario">
                <button type="submit">Guardar</button>
                <a [routerLink]="['/deceased']"><button type="reset" (click)="profileForm.reset()">Cancelar</button></a>
               
            </div>
        </form>
    </div>
</div></body>
