<section class="container">
  <h1>ELIGE TU PLAN</h1>

  <div class="planes">
    <div class="plan">
      <h2>Estándar</h2>
      <p class="precio">$7.99 / mes</p>
      <ul class="caracteristicas">
        <li>Resolución HD</li>
        <li>1 pantalla a la vez</li>
        <li>Acceso ilimitado al contenido</li>
        <li>Cancelación en cualquier momento</li>
      </ul>
      <a type="submit" class="btn_afiliacion">Afiliarme</a>
    </div>

    <div class="plan">
      <h2>Premium</h2>
      <p class="precio">$13.99 / mes</p>
      <ul class="caracteristicas">
        <li>Resolución Full HD y 4K</li>
        <li>Hasta 4 pantallas a la vez</li>
        <li>Contenido exclusivo</li>
        <li>Descargas ilimitadas</li>
        <li>Cancelación en cualquier momento</li>
      </ul>
      <a type="submit" class="btn_afiliacion">Afiliarme</a>
    </div>
  </div>
</section>