<body>
<div class="container">
<h2>ACTA DE DEFUNCIÓN</h2>
<form class="formulario">
    <div class="campo">
    <label>Médico responsable:</label>
    <input type="text" placeholder="Nombre completo" required />
    </div>

    <div class="campo">
    <label>Género</label>
    <div class="radio-group">
    <label><input type="radio" value="masculino" required> Masculino</label>
    <label><input type="radio" value="femenino"> Femenino</label>
    <label><input type="radio" value="otro"> Otro</label>
    </div></div>

    <div class="campo">
        <label for="tipo-doc">Tipo de Documento</label>
        <select required>
        <option value="">Seleccionar</option>
        <option value="dni">DNI</option>
        <option value="ce">Cédula de Extranjería</option>
        <option value="pasaporte">Pasaporte</option>
        </select>
    </div>

    <div class="campo">
    <label>Identificación del fallecido:</label>
    <input type="text" placeholder="Cédula / ID" required />
    </div>

    <div class="campo">
    <label>Fecha y hora de fallecimiento:</label>
    <input type="datetime-local" required />
    </div>

    <div class="campo">
    <label for="direccion">Dirección de fallecimiento</label>
    <input type="text" required>
    </div>

    <div class="campo">
    <label for="religion">Religión</label>
    <select id="religion" name="religion">
    <option value="">Seleccionar</option>
    <option value="catolica">Católica</option>
    <option value="cristiana">Cristiana</option>
    <option value="judia">Judía</option>
    <option value="musulmana">Musulmana</option>
    <option value="ninguna">Ninguna</option>
    <option value="otra">Otra</option>
    </select>
    </div>

    <div class="campo">
    <label>Causa de muerte:</label>
    <input type="text" placeholder="Ej. Paro cardiorrespiratorio" required />
    </div>

    <div class="campo">
    <label>Observaciones:</label>
    <textarea placeholder="Detalles adicionales..."></textarea>
    </div>

    <div class="campo">
    <label>Firma digital:</label>
    <canvas #firmaCanvas id="firma" width="300" height="100"></canvas>
    <button type="button" (click)="clearSignature()">Limpiar firma</button>
    </div>

    <a [routerLink]="['/confirm']"><button type="submit" class="btn_confirmar">Guardar</button></a>
</form>
</div></body>
