<div class="container">
<h2>ACTA DE DEFUNCIÓN</h2>
<form class="formulario">
    <div class="campo">
    <label>Médico responsable:</label>
    <input type="text" placeholder="Nombre completo" required />
    </div>

    <div class="campo">
    <label>Identificación del fallecido:</label>
    <input type="text" placeholder="Cédula / ID" required />
    </div>

    <div class="campo">
    <label>Fecha y hora de fallecimiento:</label>
    <input type="datetime-local" required />
    </div>

    <div class="campo">
    <label>Causa de muerte:</label>
    <input type="text" placeholder="Ej. Paro cardiorrespiratorio" required />
    </div>

    <div class="campo">
    <label>Observaciones:</label>
    <textarea placeholder="Detalles adicionales..."></textarea>
    </div>

    <div class="campo">
    <label>Firma digital:</label>
    <canvas #firmaCanvas id="firma" width="300" height="100"></canvas>
    <button type="button" (click)="clearSignature()">Limpiar firma</button>
    </div>

    <button type="submit" class="btn_confirmar">Guardar</button>
</form>
</div>