<div class="container">
    <form class="perfil">
    <div class="foto">
        <h2>PERFIL</h2>
        <div class="persona"></div>
        <div class="standard">STANDARD</div>
    </div>

    <div class="lista">
        <button>ANGELA</button>
        <button>SOFIA</button>
        <button>ANDRES</button>
        <button>OSCAR</button>
    </div>
    </form>

    <div class="opciones">
        <button type="button">Miembros</button>
        <button type="button">Titular</button>
        <button type="button">Plan</button>
    </div>
</div>