body {
    box-sizing: border-box;
    font-family: var(font-family);
    height: 100%;
}

.container {
    margin-top: 4.5%;
    width: 100%;
    height: 80%;
    background-color: #f0ece7;
}

.perfil {
    background-color: #b9e8fa;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.foto {
    text-align: center;
    margin-bottom: 2rem;
}

.foto h2 {
    color: #1f2a77;
    font-size: 22px;
    margin-bottom: 1rem;
}

.persona {
    width: 120px;
    height: 120px;
    background-color: #17a2b8;
    border-radius: 50%;
    margin: 0 auto 1rem;
    background-size: cover;
    background-position: center;
}

.standard {
    background-color: #f0ece7;
    color: #00a3a5;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    min-width: 200px;
  }

.lista button {
background: #eae6df;
border: none;
padding: 12px 20px;
border-radius: 20px;
font-size: 16px;
color: #422b5d;
cursor: pointer;
transition: background 0.3s;
}

.lista button:hover {
    background: #7f91ac;
    color: #fff;
}

.opciones {
    background-color: #f0ece7;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.opciones button {
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 0.8rem 2rem;
    font-weight: bold;
    box-shadow: 2px 3px 0px #9ba2b0;
    cursor: pointer;
}