<div class="container">
  <form class="perfil">
    <div class="lista-miembros">
      <div class="miembro" *ngFor="let member of members">
        <span>{{ member.name }} {{ member.last_name }}</span>
        <button type="button" class="eliminar">Eliminar</button>
      </div>
      <button [routerLink]="['/profile-edit']" type="button" class="agregar">Agregar Miembro</button>
    </div>

  </form>

  <div class="opciones">
    <a [routerLink]="['/deceased']"><button type="button">Miembros</button></a>
    <a [routerLink]="['/profile']"><button type="button">Titular</button></a>
    <a [routerLink]="['/plans']"><button type="button">Plan</button></a>
  </div>
</div>
