<div class="main-container">
  <div class="top-bar">
    <app-header></app-header>
    <nav>
      <a routerLink="/" routerLinkActive="active">Inicio</a>
      <a routerLink="/services-memory" routerLinkActive="active">Servicios</a>
    </nav>
  </div>
  <div class="blue-section">
    <h1>Servicio funerario</h1>
    <div class="opciones">
      <form class="opcion">
        <!--Auui los routes-->
        <a [routerLink]="['/deceased']"><button type="button" (click)="solicitarAfiliado()">Solicitar</button></a>
        <p>Afiliado</p>
      </form>
      <form class="opcion">
        <a [routerLink]="['/deceased']"><button type="button" (click)="solicitarSinPlan()">Solicitar</button></a>
        <p>Sin plan</p>
      </form>
    </div>
  </div>
  <div class="bottom-bar">
  </div>

  <div class="service-container" *ngIf="mostrarVistaPerfil">
    </div>
</div>

