<app-header></app-header>
<section class="carrusel">
    <div class="contenido-carrusel">
        <div class="texto">
            <h2>Nombre del servicio</h2>
            <p>--------------------------------------------------------------------------
                ----------------------------------------------------------------------------
                ----------------------------------------------------------------------------
                ----------------------------------------------------------------------------
                --------------------------------------------------------------------------</p>
            <button [routerLink]="['/services-memory']">ADQUIERE TUS BENEFICIOS</button>
        </div>
        <div class="correr">
            <div class="imagenes">
                <img src="">
                <img src="">
                <img src="">
            </div>
        </div>
    </div>
    <div class="contenido-carrusel">
        <div class="texto">
            <h2>Quines somos</h2>
            <p>--------------------------------------------------------------------------
                ----------------------------------------------------------------------------
                ----------------------------------------------------------------------------
                ----------------------------------------------------------------------------
                --------------------------------------------------------------------------</p>
        </div>
        <div class="correr">
            <div class="imagenes">
                <img src="">
                <img src="">
                <img src="">
            </div>
        </div>
    </div>
    <div class="plans-container" id="plans">
        <app-plans></app-plans>
    </div>
</section>


