<app-header></app-header>
<section class="carrusel">
    <div class="contenido-carrusel">

        <h2>¿Quiénes somos?</h2>
        <img src="assets/images/logo.png" alt="Logo Memory" class="logo-memory">
        <p>
          En Memory, creemos que el amor trasciende. Nos dedicamos a brindarte un
          espacio de conexión profunda y bella con aquellos que han partido. Un
          servicio donde los recuerdos se transforman en un legado de cariño,
          permitiéndote honrar su memoria y mantener viva su esencia en tu corazón.
        </p>

        <button [routerLink]="['/sign-up']">ADQUIERE TUS BENEFICIOS</button>
    </div>
</section>

<div class="services-container" id="services">
  <app-service></app-service>
</div>

<div class="plans-container" id="plans">
  <app-plans></app-plans>
</div>