body {
    margin: 0;
    background-color: #ede9e3;
    font-family: 'Segoe UI', sans-serif;
}

.login-container {
    text-align: center;
}

.title {
    font-size: 20px;
    margin: 20px 0;
    color: #000;
}

.login-box {
    background-color: #3dd1d4;
    padding: 40px;
    margin: auto;
    width: 350px;
    border: 2px solid #1b7984;
    border-radius: 0 0 10px 10px;
}

.login-box h2 {
    margin-bottom: 30px;
    color: #000b2c;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    color: #000b2c;
}

input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #f2eeeb;
    text-align: center;
    font-weight: bold;
}

.btn-login {
    background-color: #1dbac2;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 0;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.link-create {
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
    color: #1dbac2;
}