<app-header></app-header>
<main class="login-container">
    <section class="login-box">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <h2>INICIAR SESIÓN</h2>

            <label>Tipo documento</label>
            <select class="select"  formControlName="type_id">
                <option value="" disabled >Selecciona un tipo de documento</option>
                <option  *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
            </select>    

            <label>Documento</label>
            <input type="text" id="id" formControlName="id" placeholder="-------------------------" />

            <label>Contraseña</label>
            <input type="password" id="password" formControlName="password" placeholder="-------------------------" />

            <button type="submit" class="btn-login">INICIAR</button>
            <div class="login-create">
                <a [routerLink]="['/sign-up']">Crear cuenta</a>
            </div>
        </form>
    </section>
</main>