body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/fondoInicioSesion.png');
    background-size: cover;
    background-position: center;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.50);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
}

.login-box h2 {
    margin-bottom: 30px;
    color: #6a6a6a;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px; /* Limita el ancho del formulario */
    margin: 0 auto;
}

label {
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    color: #000b2c;
}

input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #f2eeeb;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.btn-login {
    background-color: #a3adbf;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    width: auto;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    width: 300px;
    margin-bottom: 10px;
    width: 300px;
    margin: 0 auto 10px auto;
    margin-top: 10px;
}

.login-create {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: -15px;
    margin-left: 180px;
    gap: 10px;
}

.login-create a {
    color: #4a4a4a;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

.login-create a:hover {
    border-bottom: 2px solid #a3adbf;
    color: #a3adbf;
}

.select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: #f8f8f8;
    color: #333;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;  
    margin-top: -10px;
  }

  #id, #password {
    margin-top: -10px;
  }
  
  .select:focus { 
    background-color: #fffefe;
    outline: none;

  }