<div class="container">
<div class="transfer">
    <div class="perfil">
    <div class="foto"></div>
    <div class="premium">PREMIUM</div>
</div>

    <div class="datos">
    <div class="nombre-id">
        <input type="text" value="ANDRES" disabled />
        <input type="text" value="100154865" disabled />
    </div>

    <div class="opciones">
        <div class="grupo">
        <label>Lugar del cuerpo</label>
        <button class="opcion">DIRECCION REGISTRADA</button>
        <button class="opcion">INGRESAR DIRECCION</button>
        <button class="opcion">HOSPITAL</button>
        </div>

        <div class="grupo">
        <label>Velación</label>
        <button class="opcion">1 HORA</button>
        <button class="opcion">4 HORAS</button>
        <button class="opcion">INGRESAR TIEMPO</button>
        </div>

        <div class="grupo">
        <label>Cremación</label>
        <button class="opcion">SI</button>
        <button class="opcion">NO</button>
        </div>

        <div class="grupo">
        <label>Sala</label>
        <button class="opcion">CAMPOS DE PAZ</button>
        <button class="opcion">MONTESACRO</button>
        </div>
    </div>
    <button class="confirmar">Confirmar</button>
</div>