body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/fondo.png');
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #555;
    font-weight: 300;
}

/* Cuadro blanco */
.register-box {
    background-color: rgba(255, 255, 255, 0.50);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    margin-top: 70px;
}

.register-box h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #6a6a6a;
    text-align: center;
}

/* Distribución en 3 columnas */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px 30px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.form-group {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
}

/* Inputs y selects */
input, .select {
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 14px;
    width: 100%;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

input:focus, .select:focus {
    outline: none;
    border-color: #aaa;
    background-color: #fff;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-primary {
    background-color: #a3adbf;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    width: auto;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    width: 300px;
    margin-bottom: 10px;
    grid-column: span 3;
}

.login-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
    gap: 10px;
}

.login-link a {
    color: #4a4a4a;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

.login-link a:hover {
    border-bottom: 2px solid #a3adbf;
    color: #a3adbf;
}

.login-link p {
    margin-top: -10px;
}