body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: url(/fondo.png); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contenedor {
  height: 100vh;
  background-image: url('/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 10;
}

/* Título principal */
.title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #555;
    font-weight: 300;
}

/* Cuadro blanco */
.register-box {
    background-color: rgba(255, 255, 255, 0.50);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
}

/* Subtítulo */
.register-box h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #6a6a6a;
    text-align: center;
}

/* Distribución en 3 columnas */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px 30px;
    margin-bottom: 20px;
}

.form-group {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
}

/* Inputs y selects */
input, .select {
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 14px;
    width: 100%;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

input:focus, .select:focus {
    outline: none;
    border-color: #aaa;
    background-color: #fff;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Espacio entre botones */
    margin-top: 20px;
}

/* Botón de registro */
.btn-primary {
    background-color: #a3adbf;
    color: white;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    grid-column: span 3; /* Para que ocupe el ancho total */
}

/* Enlaces de login */
.login-link {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
    padding: 0 10px;
    grid-column: span 3;
}