<app-header></app-header>

<main class="container">
    <section class="register-box">
        <h2>REGISTRO</h2>
        <form [formGroup]="registryForm" (ngSubmit)="onRegistry()">
            <div class="grid-container">
                <div class="form-group">
                    <label>Tipo de documento</label>
                        <select class="select" formControlName="type_id">
                            <option value="" disabled >Selecciona un tipo de documento</option>
                            <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
                        </select>   
                    <label>Documento</label>
                    <input formControlName="id" type="text" placeholder="..." />
                    <label>Nombre</label>
                    <input formControlName="name" type="text" placeholder="..." />
                    <label>Apellidos</label>
                    <input formControlName="last_name" type="text" placeholder="..." />
                </div>
                <div class="form-group">
                    <label>Correo electrónico</label>
                    <input formControlName="email" type="email" placeholder="..." />
                    <label>Ciudad</label>
                    <input formControlName="city" type="text" placeholder="..." />
                    <label>Dirección</label>
                    <input formControlName="address" type="text" placeholder="..." />
                </div>    
                <div class="form-group">
                    <label>Teléfono</label>
                    <input formControlName="phone" type="text" placeholder="..." />
                    <label>Contraseña</label>
                    <input formControlName="password" type="password" placeholder="..." />
                    <label>Confirmar contraseña</label>
                    <input formControlName="rePassword" type="password" placeholder="..." />
                </div>
            </div>
            <div class="button-container">
                <button class="btn-primary" type="submit" >ENVIAR</button>
            </div>
            <div class="login-link">
                <span>¿Ya tienes una cuenta?</span>
                <a [routerLink]="['/login']">Iniciar sesión</a>
            </div>
        </form>
    </section>
</main>
